<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.openrmm.agent</string>
  <key>ProgramArguments</key>
  <array>
    <string>/Library/OpenRMM/Agent/openrmm-agent</string>
    <string>run</string>
  </array>
  <key>RunAtLoad</key>
  <true/>
  <key>KeepAlive</key>
  <true/>
  <key>ThrottleInterval</key>
  <integer>5</integer>
  <key>ProcessType</key>
  <string>Background</string>
  <key>StandardOutPath</key>
  <string>/Library/Logs/OpenRMM/agent.log</string>
  <key>StandardErrorPath</key>
  <string>/Library/Logs/OpenRMM/agent.err.log</string>
</dict>
</plist>
